<h2>Edit book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books" href="/books">Cancel</a>
        <button class="btn btn-primary" href="/books" type="submit">Update man</button>
    </div>
</form>
